In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("survey_test.csv")

In [3]:
row_yes_no = ['family_history','treatment', 'mental_health_consequence', 'phys_health_consequence', 
              'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'obs_consequence', 
              'mental_vs_physical', 'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program',
             'seek_help', 'anonymity']
row_leave = ['leave']
row_country = ['Country']
#replace 'usa', 'The USA' etc. => "USA"  
def parse_country(x):
    if 'usa' in x.lower() or x == "United States":
        return 'USA'
    return x

# Replace 'Yes', 'No' etc. => "1", "0"
# yes_no ={
#     'no': 0,
#     '0': 0,
#     'yes': 1,
#     'some of them': 2,
#     'maybe': 3,
#     "don't know": 4,
#     "Not sure": 5
# }
def parse_yes_no(x):
    if pd.isna(x):
        return None
    elif 'no' in x.lower():
        return 0
    elif 'yes' in x.lower():
        return 1
    elif 'some of them' in x.lower():
        return 2
    elif 'maybe' in x.lower():
        return 3
    elif "don't know" in x.lower():
        return 4
    elif "Not sure" in x.lower():
        return 5
    return None

# Replace leave
# Somewhat easy => 0
# Don't know => 1
# Somewhat difficult => 2
# Very difficult => 3
# Very easy => 4
def parse_leave(x):
    if pd.isna(x):
        return None
    elif 'somewhat easy' in x.lower():
        return 0
    elif "don't know" in x.lower():
        return 1
    elif 'somewhat difficult' in x.lower():
        return 2
    elif 'very difficult' in x.lower():
        return 3
    elif 'very easy' in x.lower():
        return 4
    return None

# Replace work_interfere
# Often => 0
# Don't know => 1
# Somewhat difficult => 2
# Very difficult => 3
# Very easy => 4
def parse_leave(x):
    if pd.isna(x):
        return None
    elif 'Often' in x.lower():
        return 0
    elif "don't know" in x.lower():
        return 1
    elif 'somewhat difficult' in x.lower():
        return 2
    elif 'very difficult' in x.lower():
        return 3
    elif 'very easy' in x.lower():
        return 4
    return None

In [4]:
for d in df:
    if d in row_yes_no:
        df[d] = df[d].apply(parse_yes_no)
    elif d in row_leave:
        df[d] = df[d].apply(parse_leave)
    elif d in row_country:
        df[d] = df[d].apply(parse_country)
count = 1261

In [5]:
del df['Timestamp']
del df['Age']
del df['Gender']
del df['state']
del df[u'comments']
del df['Country']
del df['work_interfere']
del df['no_employees']
del df['self_employed']

In [6]:
data_value = df.apply(pd.value_counts).fillna(0)

In [7]:
predict_column = []
for d in list(data_value.columns):
    data_value[d+"_percent"] = pd.Series(np.random.randn(5), index=data_value.index)
    for index, value in enumerate(data_value[d]):
        if value/count*100 > 70:
            predict_column.append(d)
        data_value.set_value(index, d+"_percent", str(value/count*100))

c:\users\the_s\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

In [8]:
data_value.reindex_axis(sorted(data_value.columns), axis=1)

c:\users\the_s\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """Entry point for launching an IPython kernel.

,anonymity,anonymity_percent,benefits,benefits_percent,care_options,care_options_percent,coworkers,coworkers_percent,family_history,family_history_percent,...,seek_help,seek_help_percent,supervisor,supervisor_percent,tech_company,tech_company_percent,treatment,treatment_percent,wellness_program,wellness_program_percent
0.0,886.0,70.261697,783.0,62.093577,817.0,64.789849,260.0,20.618557,768.0,60.904044,...,1010.0,80.095163,394.0,31.245044,228.0,18.080888,622.0,49.325932,1031.0,81.760508
1.0,375.0,29.738303,477.0,37.827121,444.0,35.210151,225.0,17.842982,492.0,39.016653,...,250.0,19.825535,517.0,40.999207,1033.0,81.919112,639.0,50.674068,230.0,18.239492
2.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,776.0,61.538462,0.0,0.000000,...,0.0,0.000000,350.0,27.755749,0.0,0.000000,0.0,0.000000,0.0,0.000000
3.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [9]:
predict_column

['remote_work',
 'tech_company',
 'wellness_program',
 'seek_help',
 'anonymity',
 'phys_health_consequence',
 'mental_health_interview',
 'mental_vs_physical',
 'obs_consequence']

In [10]:
df[(df['phys_health_consequence'] == 0) & (df['anonymity'] == 0) & (df['remote_work'] == 1) & (df['tech_company'] == 1) & (df['wellness_program'] == 0) & (df['seek_help'] == 0) & (df['obs_consequence'] == 0)].count()

family_history               126
treatment                    126
remote_work                  126
tech_company                 126
benefits                     126
care_options                 126
wellness_program             126
seek_help                    126
anonymity                    126
leave                        104
mental_health_consequence    126
phys_health_consequence      126
coworkers                    126
supervisor                   126
mental_health_interview      126
phys_health_interview        126
mental_vs_physical           125
obs_consequence              126
dtype: int64

In [11]:
data_value['anonymity']

0.0    886.0
1.0    375.0
2.0      0.0
3.0      0.0
4.0      0.0
Name: anonymity, dtype: float64

In [12]:
df['tech_company']

0       1
1       0
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      0
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      0
24      1
25      0
26      1
27      1
28      1
29      1
       ..
1231    1
1232    0
1233    1
1234    0
1235    1
1236    1
1237    1
1238    0
1239    1
1240    1
1241    1
1242    1
1243    1
1244    0
1245    0
1246    1
1247    1
1248    1
1249    1
1250    1
1251    0
1252    1
1253    0
1254    1
1255    1
1256    1
1257    1
1258    0
1259    1
1260    1
Name: tech_company, Length: 1261, dtype: int64