In [15]:
import pandas
from sklearn.model_selection import KFold
import sklearn as sk
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#read the data from file
data = pandas.read_csv('wine.csv')
data.head()

,Class,Alcohol,Malic,Ash,Alcanity,Magnesium,Total,Flavanoids,Nonflavanoid,Proanthocyanins,Color,Hue,OD280,Proline
0,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.6,1.15,2.90,1320
1,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.4,1.25,2.73,1150
2,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.5,1.20,3.00,1547
3,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.3,1.28,2.88,1310
4,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.2,1.07,2.65,1280

In [3]:
#bring x and y from the data
X = data.drop('Class', 1)
y = data['Class']
# print(x.head())
# print(y.head())

In [4]:
#create blocks (for testing and training) (cross validation)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
# kf.get_n_splits(X)

In [9]:
train, test = zip(*kf.split(X))
# print('train:', train)
# print('test:', test)
# print(X.head())

In [60]:
#set the classifier and looking for the best value for n_neighbors
classifier = KNeighborsClassifier(n_neighbors=1)
values = sk.model_selection.cross_val_score(classifier, X, y, cv=kf)
print(values)
print(values.mean())

[0.76470588 0.75757576 0.72727273 0.66666667 0.75757576]
0.73475935828877

In [59]:
maxi = []
for i in range(1,51):
    classifier1 = KNeighborsClassifier(n_neighbors=i)
    values1 = sk.model_selection.cross_val_score(classifier1, X, y, cv=kf)
    maxi.append(values1.mean())
print(max(maxi))

0.73475935828877